<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Rating</title>
</head>
<body>
    <form action="{{ url_for('edit') }}" method="POST">
        <p>Book Name: {{book_sql.book}}</p>
        <p>Current Rating: {{ book_sql.rating }}</p>
        <input hidden="hidden" name="id" value="{{book_sql.id}}">
        <input name="rating" type="text" placeholder="New Rating">
        <button type="submit">Change Rating</button>
    </form>
</body>
</html>