<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if not books %}
    <p>Library is empty.</p>
    {% else %}
    <ul>
        {% for book_sql in books %}
      <li>
          <a href="{{ url_for('delete', id= book_sql.id) }}">Delete</a>
          {{ book_sql.book }} - {{ book_sql.author }} - {{ book_sql.rating }}/10
          <a href="{{ url_for('edit', id= book_sql.id) }}">Edit Rating</a>
      </li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
